<h4>line風bot</h4>

<% @chats.reverse_each do |chat| %>
<p>
    <%= chat.partner %> <br>
</p>
<p>
    <%= chat.myself %> <br>
</p>

<% end %>

<p>
    
<%= form_for @new_chat do |f| %>
    <%= f.text_area :myself %> <br>
    <%= f.submit "送信" %>
<% end %>
</p>
